<p>Hello </p>

<p>Your customer account has been created by the vendor. You can add your payment method by using the link below</p>

<a href="<%= ENV['WEBSITE_URL'] %>/charge/<%= @customer.id %>" target="_blank">Click here</a>