/* line 1, app/assets/stylesheets/navbar.scss */
.navbar {
  background: #FFFFFF;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 8, app/assets/stylesheets/navbar.scss */
.navbar-brand {
  color: Red !important;
  font-size: 24px;
  font-family: 'Bebas Neue';
  font-weight: 400;
  letter-spacing: 1px;
}

/* line 16, app/assets/stylesheets/navbar.scss */
.nav-item {
  padding: 20px;
}

/* line 20, app/assets/stylesheets/navbar.scss */
.nav-item-link {
  color: #FF0000;
}

/* line 24, app/assets/stylesheets/navbar.scss */
.nav-item-link:hover {
  color: #E0E0E0;
  text-decoration: none;
}
