<body class="text-center" style="text-align: center; margin-top: 10rem;">
  <div class="form-signin">
    <h2>Unsuccessful</h2>
  </div>
</body>


<script>
  // Close the page after 3 seconds
  setTimeout(function() {
    window.close();
  }, 3000);
</script>