<body class="text-center" style="text-align: center; margin-top: 10rem;">
  <div class="form-signin">
    <h2>Success</h2>
    <br />
    <% if @session_url.present? %>
      <p id="payment-link" style="word-break: break-all;white-space: normal;"><%= @session_url %></p>
      <button class="copy_btn btn btn-block btn-info">Copy Link</button>
      <br/>
      <%= link_to "Back", customers_path %>
    <% else %>
      <%= link_to "Back", authenticated_root_path %>
    <% end %>
  </div>
</body>


<script>
  // Close the page after 3 seconds
  setTimeout(function() {
    window.close();
  }, 10000);
</script>

<script>
$(document).on('click', '.copy_btn', function (e) {
    const copyTxtField = document.getElementById("payment-link");
    navigator.clipboard.writeText(copyTxtField.textContent)
    .then(() => {
      console.log(copyTxtField.textContent);
    })
    .catch(err => {
      console.error("Failed to copy: ", err);
    });
})
</script>